.browse{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addCard{
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

.addCard:hover{
    text-shadow: 0 0 10px rgb(193, 75, 95),
    0 0 2px rgb(193, 75, 95);
}

.search{
    margin-top: 20px;
}

.searchImput{
    line-height: 30px;
}

.showCards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}